#container,#main{width: 1000px;margin: 0 auto;}
.register,.login{width: 450px;}
.navbar-default .navbar-link{color: #337ab7;}
.navbar-default .exit{color:#5cb85c;margin-left: 5px;}
h1{text-align: center;padding-top: 50px;}
#box{margin-top: 10px;}
tbody input[type="text"]{ display:none; height:24px; width:60px; border:1px solid #ccc;}
.editBtn{ color:#666}
.delBtn{ color:red}
.okBtn,.cancelBtn{ display:none}

.edit span{ display:none}
.edit input[type="text"]{ display:inline-block}
.edit .editBtn,.edit .delBtn{ display:none}
.edit .okBtn,.edit .cancelBtn{ display:inline}